<div class="mt-5 pt-5">
    <style>
        .notes {
            font-size: 14px;
            color: rgb(69, 61, 61);
            margin-left: 30px;
        }
    </style>
       <div class="d-flex m-5 p-3">
        <!-- <textarea rows="5" cols="30" type="text" [(ngModel)]="query" placeholder="Search Resumes..."></textarea> -->
        <input class="form-control" type="text" [(ngModel)]="query" placeholder="Search Resumes by Skills/ Expirence/ Location">
        <button class="btn btn-outline-success m-1 p-2" type="submit" (click)="onSearch()">Search</button>
    </div>
</div>