<app-nav-bar></app-nav-bar>

<div class="container">
    <div *ngIf="resumes" class="resume1">
        <div class="search">
            <app-search (search)="onSearch($event)"></app-search>
        </div>

        <div *ngIf="!flag">
            <button (click)="downloadSelectedResumes()">Download Selected Resume</button>
            <div class="Selected">Searched Resume</div>
        </div>
        <div class="row">
            <div *ngFor="let resume of resumes1" class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <input type="checkbox" [(ngModel)]="resume.selected">
                        <h5 class="card-title">{{ resume.fileName }}</h5>
                        <p class="card-text">Resume Id: {{ resume.id }}</p>
                        <img src="https://i.ibb.co/Fh19BFq/logo1.png" alt="logo1" />
                        <a href="{{ resume.pdfUrl }}" class="btn btn-primary">Download</a>
                    </div>
                </div>
            </div>
        </div>


        <!-- <div *ngIf="isDownloading">
        <p>Downloading...</p>
    </div> -->

    </div>

    <div *ngIf="resumes && flag" class="resume">
        <div>Resume List</div>
        <div class="row">


            <div *ngFor="let resume of resumes" class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ resume.fileName }}</h5>
                        <p class="card-text">Resume Id: {{ resume.id }}</p>
                        <img src="https://i.ibb.co/Fh19BFq/logo1.png" alt="logo1" />
                        <button class="btn btn-primary">Download</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>