<app-nav-bar></app-nav-bar>
<div class="row">
    <div class="col-md-6 d-flex aria-label-center justify-content-center">
        <div class="internal-box text-center mx-5">
            <h1 class="m-2">For Recruiters</h1>
            <div>
                Build your team by getting suitable employess for your team
            </div>
            <div>
                <!-- adding Modal -->
                <button class="btn btn-outline-secondary btn-lg m-3" data-bs-toggle="modal" data-bs-target="#recruterslogin">Login</button>
                <app-recruter-login-modal></app-recruter-login-modal>
            </div>
            <div>
                <span>Don't have account? </span>
                <a id="forget" routerLink="register">Signup</a>
            </div>
        </div>
    </div>

    <div class="col-md-6 d-flex aria-label-center justify-content-center right-half ">
        <div class="internal-box text-center mx-5">
            <h1 class="m-2">For Employees</h1>
            <div>
                Upload your resume and get a chance to be the part of a project team
            </div>
            <div>
                <button class="btn btn-outline-secondary btn-lg m-3" data-bs-toggle="modal" data-bs-target="#employeelogin">Login</button>
                <app-employee-login-modal></app-employee-login-modal>   
                    

            </div>

            <div>
                <span>Don't have account? </span>
                <a id="forget" routerLink="register">Signup</a>
            </div>
        </div>
    </div>
</div>